/*FYG*/


/*全局*/

.fade {
	overflow-y: hidden!important;
}

textarea {
	resize: none
}

a {
	text-decoration: none!important;
	outline: none!important;
	border: none;
}

.pointer {
	cursor: pointer;
	font-weight: normal;
}

.currency-modal-dialog {
	margin-top: 25%;
}

.modal-content {
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
	box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
}

.blue {
	color: #168BEE
}

* {
	outline: none!important;
}


/*全局按钮*/


/* 	.yes{background-color: #168BEE;color: #FFF;width: 100px;height: 40px;border-radius: 2px;font-size: 18px;}*/

.yes {
	background-color: #168BEE;
	color: #FFF;
	width:90px;
	height: 32px;
	border-radius: 4px;
	font-size: 14px;
}

.yes:focus {
	background-color: #168BEE;
	color: #FFF;
}

.yes:hover {
	background-color: #1681DC;
	color: #FFF;
}

.yes:active {
	background-color: #168BEE;
	color: #FFF;
}

img {
	border: none;
}

a {
	color: #333333;
}

.bg-height {
	/*	height: 600px;*/
	height: 100%;
}


/*返回按钮*/

.return-fyg {
	width: 64px;
	height: 30px;
	float: left;
	background-image: url(../../images/homework/return-fyg.png);
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
}

.return-fyg:active {
	background-position: 1px 1px;
}


/*去掉按钮边框*/

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
}

.close:focus,
.close:active:focus,
.close.active:focus,
.close.focus,
.close:active.focus,
.close.active.focus {
	outline: none;
}


/*作业选择*/

.homework-select {
	height: 500px;
	font-size: 14px;
}

.wrap {
	padding-top: 90px;
}

.review {
	width: 256px;
	height: 160px;
	margin: 0 auto;
}

.review_lf {
	float: left;
	width: 120px;
	height: 150px;
}

.review_rt {
	float: right;
	width: 120px;
	height: 150px
}

.review_1 {
	width: 120px;
	height: 120px;
	margin-top: 0;
	background: #f1f1f1;
}

.review_2 {
	width: 80px;
	height: 80px;
	margin: 20px;
	display: inline-block;
	border-radius: 50%;
	background: white;
}

.review_lf:hover .review_2 {
	background: #CCCCCC;
}

.review_rt:hover .review_2 {
	background: #168BEE;
}

.review_rt:hover .cha {
	background: #cb6ce0;
}

.review_2>img {
	margin: 24px 26px;
}

.review p {
	text-align: center;
	margin-bottom: 0;
	height: 30px;
	line-height: 30px;
	color: #fff;
}

.p_1 {
	background: #168bee;
}

.p_2 {
	background: #ff930d;
}

.p_3 {
	background: #59d829;
}

.p_4 {
	background: #cb6ce0;
}


/*作业列表*/

#centre_in {
	height: 500px;
}

.question-head {
	line-height: 24px;
}

.order {
	font-size: 16px;
	margin-top: 10px;
}

.order>span {
	float: left;
}


.select {
	cursor: pointer;
	font-weight: normal;
}

.homework-list {
	width: 95%;
	margin-top: 30px;
	margin-left: 20px;
	border-bottom: 1px dashed #666666;
	padding-bottom: 10px;
	position: relative;
}

.homework-order {
	margin-left: 18px;
	font-size: 16px;
	position: relative;
	top: 4px;
}

.homework-list .homework-type-link {
	position: relative;
	top: 5px;
}

.homework-list-content {
	float: right;
	margin-top: 10px;
}

.homework-list-content td {
	width: 80px;
	font-size: 12px;
	text-align: center;
	padding-left: 6px;
}

.dotted-line {
	width: 90%;
	border-bottom: 1px gray dashed;
	margin: 15px auto auto 40px;
}

.col-line {
	margin-left: 40px;
	border-left: 1px solid #CCC;
}

.homework-list-circle-single {
	width: 80px;
	height: 26px;
	line-height: 26px;
	border-radius: 4px;
	background-color: #158BEE;
	margin: auto;
}

.homework-list-circle-team {
	width: 80px;
	height: 26px;
	line-height: 26px;
	border-radius: 4px;
	background-color: #FF920E;
	margin: auto;
}

.circle-value1,
.circle-value2,
.circle-value3,
.circle-value4,
.circle-value5 {
	color: #FFF;
	font-size: 12px;
}

.search-wiki, .search-wiki:focus {
	color: #FFD656;
}


/*.navbar-right>ul>li:nth-last-child{color: red;}*/


/*错题列表*/

.false-numbers {
	float: right;
	margin-right: 40px;
	color: #168BEE;
	font-size: 14px;
}

.falseHead {
	float: right;
	margin-top: 10px;
}

.false-btn-for-data {
	margin-right: 20px;
}


/*作业内容*/


/*.line{
	width: 90%;
	border-bottom: 1px gray dashed;
	margin: 15px auto auto 40px;
}*/


/*个人作业成绩*/

.homework-grade-wrap {
	height: 425px;
	position: relative;
	width: 100%;
}

.homework-grade-center {
	float: left;
	margin-left: 40%;
	width: 21.4%;
	/* 160/748 */
	height: 83.8%;
	/* 356/425*/
}

.homework-grade-head {
	margin-top: 16.25%;
	/* 24/160 */
	margin-bottom: 36.25%;
	font-size: 22px;
}

@media (max-width:768px) {
	.homework-grade-center {
		width: 28.4%;
	}
}

.homework-grade {
	font-size: 45px;
	color: #FFF;
	position: relative;
	bottom: 110px;
	margin-left: -1%;
}

@media (min-width:1024px) and (max-width:1200px) {
	.homework-grade {
		bottom: 95px;
	}
}

.homework-grade-foot {
	background-color: #168BEE;
	color: #FFF;
	width: 100px;
	height: 40px;
	border-radius: 2px;
	font-size: 14px;
}

.homework-grade-foot:focus {
	background-color: #168BEE;
	color: #FFF;
}

.homework-grade-foot:hover {
	background-color: #1681DC;
	color: #FFF;
}

.homework-grade-foot:active {
	background-color: #168BEE;
	color: #FFF;
}

.homework-grade-tips {
	float: right;
	width: 20.52%;
	/* 146/748*/
	height: 44.23%;
	/* 188/425 */
	padding: 2% 2.6%;
	position: absolute;
	top: 6%;
	right: 6%;
	background-color: #F1EDEA;
	box-shadow: 10px 10px 1px #E1DDDA;
	-moz-box-shadow: 10px 10px 1px #E1DDDA;
	-webkit-box-shadow: 10px 10px 1px #E1DDDA;
	-o-box-shadow: 10px 10px 1px #E1DDDA;
	-ms-box-shadow: 10px 10px 1px #E1DDDA;
}

@media(min-width:968px) and (max-width:1200px) {
	.homework-grade-tips {
		width: 23.52%;
	}
}

@media (min-width:768px) and (max-width:992px) {
	.homework-grade-tips {
		width: 21.52%;
	}
}

@media (max-width:768px) {
	.homework-grade-tips {
		height: 34.23%;
		width: 23.52%;
		top: 6%;
	}
}

.homework-grade-tips-head {
	font-size: 18px;
}

.homework-grade-tips-content {
	font-size: 16px;
	text-align: justify;
	letter-spacing: 2px;
	margin-top: 12%;
	margin-left: 4%;
}

@media (max-width:768px) {
	.homework-grade-tips-head {
		font-size: 14px;
	}
}

@media (max-width:768px) {
	.homework-grade-tips-content {
		font-size: 12px;
	}
}


/*查看成绩*/


/*.team-grade-select-wrapper{
	width: 100%;
	height: 34px;
	font-size: 18px;
	margin:10px 0;
}
.team-grade-select{
	padding:0 18px;
	line-height: 34px;
	float: left;
}
.team-grade-select:hover{
	border-bottom: 3px solid #168BEE;
}*/


/*---------------------------*/

.team-grade-select {
	border-bottom: none;
}

.team-grade-select>li.active>a,
.team-grade-select>li.active>a:hover,
.team-grade-select>li.active>a:focus {
	color: #168bee;
	cursor: default;
	background-color: #fff;
	border: 1px solid transparent;
	border-bottom-color: transparent;
	border-bottom: 2px solid #168BEE;
}


/*---------------------------*/

.team-grade-wrap {
	border: 1px solid #CCC;
	height: 100%;
	margin-top: 12px;
}

.mate-grade-head,
.teacher-evaluate-head,
.mate-evaluate-head {
	display: block;
	font-size: 16px;
	margin-top: 4%;
	/*28/716 */
	margin-left: 18.5%;
	/*124/716 */
}

.team-grade-wrap {
	position: relative;
}

.mate-grade {
	font-size: 45px;
	color: #FFF;
	position: absolute;
	top: 13.5%;
	left: 46.5%;
}

@media (min-width:987px) and (max-width:1200px) {
	.mate-grade {
		top: 13.5%;
		left: 47%;
	}
}

@media (min-width:600px) and (max-width:768px) {
	.mate-grade {
		top: 13.5%;
		left: 46%;
	}
}

@media (max-width:600px) {
	.mate-grade {
		left: 44%;
	}
}

.team-grade-teacher-evaluate {
	margin-top: 1%;
}

.teacher-evaluate,
.mate-evaluate {
	display: block;
	width: 43%;
	/*328/716*/
	height: 108px;
	padding: 4%;
	margin-top: 3%;
	font-size: 14px;
}

.team-grade-foot {
	background-color: #168BEE;
	color: #FFF;
	width: 90px;
	height: 32px;
	border-radius: 4px;
	font-size: 14px;
	margin-top: 3%;
	margin-bottom: 100px;
}

.team-grade-foot:focus {
	background-color: #168BEE;
	color: #FFF;
}

.team-grade-foot:hover {
	background-color: #1681DC;
	color: #FFF;
}

.team-grade-foot:active {
	background-color: #168BEE;
	color: #FFF;
}

.team-grade-mate-evaluate {
	position: relative;
}

.other-evaluate-jump-arrow {
	position: absolute;
	bottom: 25%;
	left: 20%;
	width: 60%;
}

.other-evaluate-jump-right {
	float: right;
}

.evulate-input-modal {
	margin-top: 25%;
}

.evulate-input {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
}
#myModalLabel{
	font-size: 16px;
}
.evulate-parterner {
	background-color: #168BEE;
	color: #FFF;
	width: 76px;
	height: 32px;
	border-radius: 4px;
	font-size: 14px;
}

.evulate-parterner:focus {
	background-color: #168BEE;
	color: #FFF;
}

.evulate-parterner:hover {
	background-color: #1681DC;
	color: #FFF;
}

.evulate-parterner:active {
	background-color: #168BEE;
	color: #FFF;
}


/*小组作业内容*/


/*此处和个人作业里面完全一样  后期若需修改 需要连同HTML页面一些class一起修改*/

.homework-content {
	color:#333333;
	margin-top: 12px;
	border: solid 1px #CCC;
	font-size: 1.6rem;
	padding: 15px;
	/*7-25*/
}

.homework-content:hover .question-fault {
	display: block;
}


/*单选框初始化*/

.questionSelect {
	opacity: 0;
	z-index: -1;
	color: #168BEE;
	filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0);
}

.questionSelect[type=radio]+span {
	margin-bottom: -3px;
	display: inline-block;
	height: 1em;
	width: 1em;
	border: 1px solid #168BEE;
	transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	-ms-transition: background-color 1s;
	-webkit-transition: background-color 1s;
	border-radius: 50%;
}


/*单选框选中效果*/

.questionSelect[type=radio]:checked+span {
	background-color: #168BEE;
	transition: background-color 1s;
}

.select-wrapper {
	margin-right: 20px;
}

.select {
	margin-top: 10px;
}

.radio {
	padding-top: 10px;
}


/*FOOT*/

.line {
	border-bottom: 1px solid #ccc;
	width: 100%;
	margin: 14px 0 10px 0px;
}

.ans-positive-score {
	color: #168BEE;
	font-size: 14px;
}

.question-foot-head {
	margin-left: 20px;
	font-size: 16px;
}

.answerOrder {
	margin-left: 10px;
}

.answer-users {
	color: red;
	margin-left: 5px;
}

.correctAnswer {
	margin-left: 10px;
	color: #168BEE;
	font-size: 14px;
}

.falseAnswer {
	color: red;
	margin-left: 10px;
}


/*组长提交作业按钮*/

.homework-group-leader-save {
	margin-left: 32%;
}

.group-leader-homework-save,
.group-leader-homework-upload {
	margin-top: 10%;
	margin-left: 6%;
}

.group-leader-homework-upload {
	background-color: #80C26A;
	color: #FFF;
	width: 90px;
	height: 32px;
	border-radius: 4px;
	font-size: 14px;
}

.group-leader-homework-upload:hover {
	background-color: #68B64E;
	color: #FFF;
}

.group-leader-homework-upload:active {
	background-color: #80C26A;
	color: #FFF;
}


/*报错*/

.homework-content {
	font-size: 14px;
}

.question-fault {
	float: right;
	color: #168BEE;
	display: none;
	cursor: pointer;
}

.upload-fault-save {
	background-color: #168BEE;
	color: #FFF;
	width: 80px;
	height: 32px;
	border-radius: 2px;
	font-size: 14px;
}

.upload-fault-save:focus {
	background-color: #168BEE;
	color: #FFF;
}

.upload-fault-save:hover {
	background-color: #1681DC;
	color: #FFF;
}

.upload-fault-save:active {
	background-color: #168BEE;
	color: #FFF;
}


/*答案窗口*/

.answer-save-permanent {
	background-color: #168BEE;
	color: #FFF;
	width: 85px;
	height: 35px;
	border-radius: 2px;
	font-size: 14px;
}

.answer-save-permanent:hover {
	background-color: #1681DC;
	color: #FFF;
}

.answer-save-permanent:active {
	background-color: #168BEE;
	color: #FFF;
}

.answer-save-permanent:focus {
	background-color: #168BEE;
	color: #FFF;
}

.answer-save-temporary {
	background-color: #FFCA11;
	color: #FFF;
	width: 85px;
	height: 35px;
	border-radius: 2px;
	font-size: 14px;
}

.answer-save-temporary:hover {
	background-color: #e6b200;
	color: #FFF;
}

.answer-save-temporary:active {
	background-color: #FFCA11;
	color: #FFF;
}

.answer-save-temporary:focus {
	background-color: #FFCA11;
	color: #FFF;
}


/*.answer-input{width: 100%;height: 100%;border: none;outline: none;}*/


/*.answer-input-modal{margin-top: 20%;}*/


/*拍照上传*/

.photo-upload-modal {
	margin-top: 5%;
}

.photo-upload-modal-header,
.photo-footer {
	border: none;
}

.photo-save {
	background-color: #168BEE;
	color: #FFF;
	width: 85px;
	height: 35px;
	border-radius: 2px;
	font-size: 14px;
}

.photo-save:focus {
	background-color: #168BEE;
	color: #FFF;
}

.photo-save:hover {
	background-color: #1681DC;
	color: #FFF;
}

.photo-save:active {
	background-color: #168BEE;
	color: #FFF;
}

.photo-cancel {
	background-color: #CCC;
	color: #FFF;
	width: 85px;
	height: 35px;
	border-radius: 2px;
	font-size: 14px;
}

.photo-cancel:focus {
	background-color: #CCC;
	color: #FFF;
}

.photo-cancel:hover {
	background-color: #b5b5b5;
	color: #FFF;
}

.photo-cancel:active {
	background-color: #CCC;
	color: #FFF;
}

@media (max-width:768px) {
	.photo-save,
	.photo-cancel {
		width: 80px;
		height: 35px;
		font-size: 14px;
	}
}

@media (max-width:600px) {
	.photo-save,
	.photo-cancel {
		width: 60px;
		height: 30px;
		font-size: 12px;
	}
}

.uploadPhoto {
	width: 140px;
	height: 32px;
	background-color: #e0e0e0;
	border: #CCC 1px solid;
	position: absolute;
	left: 10%;
	top: 6%;
	opacity: 0;
	filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0);
}

.uploadPhotoWrap {
	width: 140px;
	height: 32px;
	background-color: #e0e0e0;
	border: #CCC 1px solid;
	position: absolute;
	left: 10%;
	top: 6%;
	opacity: 1;
	filter: progid: DXImageTransform.Microsoft.Alpha(opacity=100);
}

.photo-upload-content {
	left: -12.5%;
	min-height: 535px;
	width: 125%;
	overflow: hidden;
	margin-top: 2%;
}

.photo-footer {
	text-align: center;
}

@media (max-width:991px) {
	.photo-footer {
		left: 30%;
	}
}

.photo-center {
	text-align: center;
	min-height: 30%;
	width: 45%;
	margin: 100px auto 30px;
	padding: 37px 0;
	background-color: #e0e0e0;
	font-size: 16px;
}
.photo-upload-content .photo-center>img {
	width: 50%;
	margin-top: -37px;
	margin-bottom: -37px;
}

.photo-center-2 {
	margin-top: 10%;
}

@media (max-width:991px) {
	.photo-upload-content {
		left: 0%;
		height: 435px;
		width: 100%;
	}
}

@media (max-width:768px) {
	.photo-upload-content {
		left: 10%;
		height: 335px;
		width: 75%;
	}
}

.photo-center-content {
	position: relative;
	top: 30%;
	margin-right: 20px;
}


/*
*
*提交报错弹窗*
*
*
*/

.answer-input-modal {
	margin-top: 15%!important;
}

.upload-fault {
	width: 505px;
	height: 325px;
	font-size: 0.85em;
	position: absolute;
	left: 10%;
}

@media (max-width:768px) {
	.upload-fault {
		left: 15%;
		height: 335px;
		width: 70%;
	}
}

@media (max-width:447px) {
	.upload-fault-span {
		margin-left: 0px;
	}
	.upload-fault-content {
		margin-left: 2px;
	}
}


/*多选框初始化*/

.upload-fault-checkbox {
	opacity: 0;
	z-index: -1;
	color: #168BEE;
	position: absolute;
}

.upload-fault-checkbox[type=checkbox]+span {
	display: inline-block;
	height: 1em;
	width: 1em;
	border: 1px solid #168BEE;
	transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	-ms-transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

.upload-fault-span {
	position: relative;
	top: 2px;
	margin-left: 4px;
}


/*多选框选中效果*/

.upload-fault-checkbox[type=checkbox]:checked+span {
	background-color: #168BEE;
	transition: background-color 1s;
}

.upload-fault-header {
	font-size: 16px;
	padding: 8px;
}

.upload-fault-content {
	margin-left: 5%;
}

.upload-fault-span1,
.upload-fault-span2 {
	margin-left: 0.4em;
	vertical-align: middle;
}

.upload-fault-wrapper {
	margin-top: 2%;
}

.upload-fault-input {
	width: 94%;
	height: 136px;
}

.upload-fault-detail {
	margin-top: 1%;
}

.upload-fault-footer {
	padding: 0px;
	border-top: none;
}


/*作业框右上角小组成员跳转图标*/

.group-members {
	float: right;
	width: 42px;
	height: 42px;
	background-color: #CCC;
	border-radius: 100%;
	position: relative;
	transition: background-color 1s;
}

.group-members:hover {
	background-color: #1681dc;
}

.group-member {
	position: absolute;
	left: 20%;
	top: 20%;
}


/*组员弹框*/

.group-member-dialog {
	margin-top: 15%;
}

.group-member-box {
	font-size: 14px;
}

.group-member-list {
	word-spacing: 10px;
}


/*组长保存*/

.tips-of-save {
	/*11-12 modified*/
	width: 45%;
	font-size: 18px;
	height: 60px;
	left: 25%;
	margin-top: 50%;
}


/*9-19 modified*/

.good-circle {
	width: 40px;
	height: 40px;
	line-height: 35px;
	border-radius: 50%;
	background-color: #00CE00;
	position: absolute;
	top: 15%;
	
	left: 4%;
}

.i-have-saved {
	position: absolute;
	/*9-19modified*/
	/*11-12 moddified fyg*/
	left: 26%;
	top: 30%;
}

.tips-of-save-wrap {
	padding: 0px;
	width: 100%;
	height: 100%;
}

@media(max-width: 768px) {
	.tips-of-save {
		width: 290px;
		font-size: 16px;
		height: 60px;
	}
	.i-have-saved {
		left: 30%;
	}
}

@media(max-width: 600px) {
	.tips-of-save {
		width: 290px;
		font-size: 16px;
		height: 60px;
	}
	.i-have-saved {
		left: 35%;
	}
}


/*保存无权限*/

.tips-of-save-wrap-no-authority {
	padding: 0px;
	width: 100%;
	height: 100%;
	margin-left: 15%;
}

.danger-circle {
	width: 40px;
	height: 40px;
	line-height: 35px;
	border-radius: 50%;
	background-color: #D7626E;
	position: absolute;
	top: 15%;
	left: 7%;
}

.i-cant-saved {
	position: absolute;
	left: 27%;
	top: 30%;
}


/*组长提交作业*/

.leader-upload-dialog {
	margin-top: 15%!important;
}

.group-leader-upload-member {
	margin: 0 3%;
}

.leader-upload-content {
	left: -20%;
	width: 140%;
}

.leader-upload-img,
.leader-upload-foot {
	margin-top: 0.3em;
}

.homework-statue-circle {
	width: 1em;
	height: 1em;
	border-radius: 1em;
	background-color: #00CE00;
	float: left;
	margin-top: 3px;
}

.homework-statue-circle-no {
	width: 1em;
	height: 1em;
	border-radius: 1em;
	background-color: #CCC;
	float: left;
	margin-top: 3px;
}

.leader-upload-wrap {
	width: 96px;
	width: 11.66%\0!important;
}


/************/

@media(max-width: 992px) {
	.leader-upload-content {
		left: -10%;
		width: 120%;
	}
}

@media(max-width: 768px) {
	.leader-upload-content {
		width: 100%;
		left: 0%;
	}
}

.leader-submit-success-content {
	left: 22%;
}

.leader-submit-success-modal {
	margin-top: 10%;
}


/*提交作业失败*/

.danger-circle-submit-fail {
	width: 40px;
	height: 40px;
	line-height: 35px;
	border-radius: 50%;
	background-color: #D7626E;
	position: absolute;
	top: 15%;
	left: 8%;
}

.tips-of-save-wrap-fail {
	padding: 0px;
	width: 116%;
	height: 100%;
}


/*分页内容二   自由分组*/

.free-set-team-wrap {
	border: 1px solid #CCC;
	height: 440px;
	position: relative;
}

.gray-circle {
	width: 40px;
	height: 40px;
	line-height: 35px;
	border-radius: 50%;
	background-color: #CCCCCC;
	position: absolute;
	left: 35%;
	top: 30%;
}

.free-set-team-text {
	font-size: 22px;
	position: absolute;
	left: 42%;
	top: 31%;
}

@media (max-width:600px) {
	.free-set-team-text {
		font-size: 18px;
		left: 40%;
	}
	.gray-circle {
		left: 30%;
	}
}


/*自由分组 组员登录*/

.leader-assign-homework {
	border: 1px solid #CCCCCC;
	/*width: 138px;
	height: 184px;
	float: left;*/
}

.leader-assign-homework-button {
	background-color: #D8636F;
	color: #FFF;
	width: 100px;
	height: 32px;
	border-radius: 4px;
	font-size: 14px;
}

.leader-assign-homework-button:hover {
	background-color: #C0303E;
	color: #FFF;
}

.leader-assign-homework-button:active {
	background-color: #D8636F;
	color: #FFF;
}


/*自由分组 组长登录*/

.leader-assign-homework {
	margin-top: 20px;
	width: 80%;
	float: right;
	height: 182px;
	font-size: 14px;
}


/*自由分组 学生界面*/

.task-detail {
	margin-left: 2%;
	text-indent: 28px;
}


/*9-19 add*/

.task-wrap:hover {
	color: #168BEE;
}


/*自由分组  任务详情*/

.task-score {
	color: red;
}

.task-detail-content {
	margin-left: 2%;
}

.task-detail-step {
	display: inline-block;
	margin-top: 10px;
}

.ask-for-leader-success,
.ask-for-leader-faile {
	margin-left: 14%;
}

.team-members-2,
.team-members-1 {
	font-size: 18px;
}

.team-leader {
	width: 80px;
	height: 80px;
	margin: 0 0 40px 5%;
}

.team-members {
	height: 80px;
	width: 80px;
}

.team-member-wrap {
	margin: 0 0 20px 5%;
}


/*任务选择*/

.member-task-step {
	opacity: 0;
	z-index: -1;
	color: #168BEE;
}

.member-task-step[type=radio]+span {
	display: inline-block;
	height: 1em;
	width: 1em;
	border: 1px solid #168BEE;
	transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	-ms-transition: background-color 1s;
	-webkit-transition: background-color 1s;
	border-radius: 50%;
}


/*选中效果*/

.member-task-step[type=radio]:checked+span {
	background-color: #168BEE;
	transition: background-color 1s;
}

.task-select-submit {
	margin-top: 5%;
}


/*自由分组 选个小组*/

.select-group {
	cursor: pointer;
}

.select-group-selected {
	color: #168BEE;
}


/*engage*/

* {
	outline: none;
}

.engage-bg {
	width: 100%;
}

.engage-teacher-wrap {
	width: 260px;
	height: 270px;
	position: absolute;
	top: 6%;
	left: 33%;
	color: #FFFFFF;
}

@media (min-width: 992px) and (max-width: 1024px) {
	.engage-teacher-wrap {
		left: 37%;
	}
}

@media (min-width:1024px) and (max-width: 1200px) {
	.engage-teacher-wrap {
		left: 28%;
	}
	.teacher-img {
		width: 20%;
		height: 20%;
	}
}

.teacher-engage-info {
	margin: 8px 0 0 60px;
	font-size: 14px;
}

.teacher-engage-info1 {
	margin: 10px 0 0 60px;
	font-size: 14px;
}

.teacher-number {
	margin-left: 13px;
}

.teacher-name,
.teacher-qq,
.teacher-mail {
	margin-left: 14px
}

.teacher-weixin {
	margin-left: 10px;
}

.teacher-address {
	margin-left: 16px;
}

.teacher-engage {
	height: 34px;
	width: 34px;
	border-radius: 100%;
	background-color: #168BEE;
	transition: background-color 0.3s;
	position: absolute;
	top: 30px;
	right: 80px;
}

.teacher-engage:hover {
	background-color: #CCCCCC;
	transition: background-color 0.3s;
}

.engage-button-img {
	margin-top: 10px;
}

.engage-button {
	margin: 5% auto;
	background-color: #168BEE;
	color: #FFF;
	border-radius: 4px;
	font-size: 14px;
	width: 100px;
	height: 32px;
}
.engage-button:hover{
	background-color: #1681DC;
	color: #FFF;
}

.engage-button:visited {
	background-color: #168BEE;
	color: #FFF;
}


.engage-button:active {
	background-color: #1681DC;
	color: #FFF;
}

.engage-time {
	width: 100%;
	height: 100%;
	margin-top: 5%;
}

.engage-time td {
	border: 1px solid #CCCCCC;
	height: 24px;
}

.engage-time tr td:nth-child(n+2) {
	font-size: 14px!important;
}

.engage-time-pop-content {
	margin-top: 35%;
}

.tdPointer {
	/*background-image: url(../images/homework/select.png);
	background-repeat: no-repeat;
	background-position:top 0 right 0;*/
	background-color: #168BEE;
	color: #FFFFFF;
}


/*资料库*/

.falseDate {
	font-size: 16px;
	position: absolute;
	right: 110px;
	bottom: 4px;
}


/*课程介绍*/

.class-intruduce-detail {
	font-size: 14px;
	line-height: 28px;
	margin-top: 20px;
	padding: 20px;
    text-align: justify;
	color: #333333;
}

.stroage-download-button,
.false-detail-link {
	margin-top: 5px;
	position: absolute;
}

.stroage-download-button {
	right: 20px;
}

.false-detail-link {
	right: 60px;
	bottom: 6px;
}


/*7-25 杨聪 修改*/

.jiaoshifenzu,
.ziyoufenzu {
	color: #666666;
	position: relative;
	top: 2px;
}

.team-grade-select>li>a {
	font-size: 14px;
}

.inquire-grade {
	font-size: 14px;
	color: #666666;
	display: block;
	margin-top: 20px;
}

.question-son {
	text-indent: 36px;
}

.task-son {
	margin-left: 36px;
}

.group-leader-homework-save a {
	color: #FFFFFF;
}

.task-step {
	font-size: 16px;
}

.report-input {
	width: 100%;
	min-height: 200px;
	max-height: 2000px;
	margin-top: 20px;
	padding: 6px;
	font-size: 14px;
}

.report-input-btn {
	margin-top: 60px;
}

.task-score-wrap {
	margin-left: 40px;
}


/*8-17 单人作业 查看资料*/

.search-wiki-span:hover {
	color: #FFD656;
}

.search-wiki:hover {
	color: #FFD656;
}


/*更多作业*/

.question-blank {
	position: relative;
	bottom: 4px;
	display: inline-block;
	border-bottom: 1px solid #168BEE;
	height: 30px;
	width: 50px;
	color: #168BEE;
	text-align: center;
	padding-top: 4px;
}


/*多选题*/


/*初始化*/

.questionMultiSelect,
.questionMultiBlankSelect {
	opacity: 0;
	z-index: -1;
	position: absolute;
}

.questionMultiSelect[type=checkbox]+span {
	margin-bottom: -3px;
	display: inline-block;
	height: 1em;
	width: 1em;
	border: 1px solid #168BEE;
	transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	-ms-transition: background-color 1s;
	-webkit-transition: background-color 1s;
	border-radius: 50%;
}


/*多选题选中效果*/

.questionMultiSelect[type=checkbox]:checked+span {
	background-color: #168BEE;
	transition: background-color 1s;
}


/*多空题*/

.questionMultiBlankSelect[type=radio]+span {
	margin-bottom: -3px;
	display: inline-block;
	height: 1em;
	width: 1em;
	border: 1px solid #168BEE;
	transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	-ms-transition: background-color 1s;
	-webkit-transition: background-color 1s;
	border-radius: 50%;
}

.questionMultiBlankSelect[type=radio]:checked+span {
	background-color: #168BEE;
	transition: background-color 1s;
}


/*排序题*/

.questionOrderContent {
	margin-left: 32px;
}

.questionOrderAnswer {
	position: relative;
	bottom: 4px;
	display: inline-block;
	border-bottom: 1px solid #168BEE!important;
	height: 30px;
	width: 50px;
	color: #168BEE;
	text-align: center;
	padding-top: 4px;
	outline: none;
	border: none;
	overflow: hidden;
	font-size: 14px;
}


/*填空题*/

.questionBlankAnswer {
	position: relative;
	bottom: 4px;
	border-bottom: 1px solid #168BEE!important;
	height: 30px;
	width: 100px;
	color: #168BEE;
	text-align: center;
	padding-top: 4px;
	outline: none;
	border: none;
	/*	overflow: hidden;*/
	font-size: 14px;
}


/*8-29 单人作业 模态框*/

#f-modal {
	position: fixed;
	top: 0;
	left: 0;
    right: 0;
    bottom: 0;
	z-index: 100;
	background: #000000;
	opacity: 0.5;
	filter: progid: DXImageTransform.Microsoft.Alpha(opacity=50)!important;
	display: none;
}

.hover-blue:hover {
	color: #168bee;
}

.answerInput {
	padding: 20px 20px 0 20px;
	width: 75%;
	max-width: 980px;
	border-radius: 4px;
	background: #FFF;
	position: fixed;
	top: 5%;
	left: 0px;
	right: 0px;
	margin: auto;
	z-index: 200;
	display: none;
}
.answerInput .title {
	width: 100%;
	font-size: 16px;
	text-align: center;
	border: none;
}
.answerInput .composition {
	width: 100%;
	height: 500px;
	overflow-y: auto;
	margin-top: 10px;
	padding: 10px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: .1em;
}
.answerInput .modal-footer {
	position: relative;
	border: none;
}
.answerInput .words {
	position: absolute;
	top: 0;
	left: 0;
}
.answer-photo {
	margin-top: 6px;
	margin-left: 40px;
}


/*9-2修改 预约老师弹出框*/

.submit-status {
	width: 290px;
	display: none;
	position: fixed;
	top: 22%;
	left: 50%;
	left: 41%\0;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: 1200;
	height: 56px;
	background: #FFFFFF;
}

.engage-status {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: 1200;
	width: 200px;
	height: 56px;
	background: #FFFFFF;
}

.engage-status-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 35px;
	border-radius: 50%;
	background-color: #00CE00;
	position: absolute;
	top: 15%;
	left: 10%;
}

.engage-success-text {
	color: #000000;
	font-size: 18px;
	position: absolute;
	top: 15px;
	left: 80px;
}


/*作业本 作业未开放tips*/

.not-open-tips {
	width: 200px;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: 1200;
	height: 56px;
	background: #FFFFFF;
}


/*9-19*/

.todayhomework-subject {
	width: 80px;
	height: 32px;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	background: #f1f1f1;
	color: #333;
	margin-top: 10px;
	padding-top: 8px;
	border-radius: 4px;
}


/*9-20 add*/

#grade-container {
	font-size: 14px;
}

.new-head {
	font-size: 14px;
	color: #333333;
	text-align: center;
	border-bottom: 1px solid #CCC;
	margin: 0 -30px;
}

.new-head>div {
	padding: 15px 10px;
}

.count {
	margin-top: 30px;
}

.count2 {
	margin-top: 20px;
}

.count3 {
	margin-top: 120px;
}

.bold {
	font-weight: bold;
}


/*11-12 add*/
.downloading{
	left: 10%;
}
/*12-12 add*/
/*.container,
.container-fluid{
    width: 1200px !important;;
}
#centery{
    width: 720px!important;
}*/
