a:focus {
    outline: none;
    text-decoration: none;
    color: #666666;
}

input {
    padding: 0 5px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: none;
}

a:hover {
    text-decoration: none;
    color: #168bee;
}
button {
    outline: none;
}

.center1 div:last-child {
    background: none;
}

#centery>div {
    display: block;
}

textarea {
    resize: none;
}

table {
    font-size: 14px;
}

th,
td {
    text-align: center;
}

.item-clicked {
    background-color: #168aed;
    color: #ffffff;
}

.table-info {
    margin-top: 20px;
}

.table-info img {
    width: 20px;
    height: 20px;
}


/*==========================================data.css  资料库==============================================*/


/*****************************更多分类下拉菜单***************************************/

.bs-example-form {
    float: right;
}

#search_hide {
    /*height: 300px;*/
    font-size: 11pt;
    padding-top: 3%;
    margin-bottom: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search_hide_row {
    margin: 0%;
    margin-bottom: 1.5%;
}

.type {
    margin-left: -5%;
}

.type_select>span {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    margin-right: 1%;
    padding: 2px 10px;
    height: 23px;
}

.type_select>.fixed-width,
.size_select>.fixed-width,
.chapter_select>.fixed-width,
.class_select>.fixed-width {
    width: 55px;
}

.size {
    margin-left: -5%;
}

.size_select>span {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    margin-right: 1%;
    padding: 2px 10px;
    height: 23px;
}

.chapter {
    margin-left: -5%;
}

.class_select>span {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    margin-right: 1%;
    padding: 2px 10px;
    height: 23px;
}

.chapter_select>span {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    margin-right: 1%;
    padding: 2px 10px;
    height: 23px;
}

.first {
    font-weight: bold;
    text-align: left;
    width: 80px;
}

#but_a>div>a {
    width: 12px;
}


/*.search_hide_row>div>span:hover{*/


/*background-color: #168aed;*/


/*color: #ffffff;*/


/*}*/


/************************头部************************************/

#button>span {
    display: inline-block;
    height: 30px;
    width: 55px;
    /*padding:10px;*/
    /*text-align: center;*/
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    /*background: url("../images/b_up_arrow.png");*/
    background-repeat: no-repeat;
    background-position: 8% 50%;
}

#size,
#date {
    padding-left: 18px;
    color: #666666;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#date {
    background-image: url(../images/w_down_arrow.png);
}

#size {
    background-image: url(../images/b_up_arrow.png);
}

#button>button {
    border-radius: 0;
}

#button>.select-color {
    color: #fff;
    border-color: #168bee;
    /*background: url("../images/w_up_arrow.png") #168bee;*/
    background-color: #168bee;
}

#search {
    /*margin:15px 0;*/
    height: 8%;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 110%;
    margin-left: -34px;
}

#search>.col-lg-3 .col-md-3 .col-sm-3 {
    /*padding:10%;*/
    line-height: 8%;
}
.data_search_img{
    /*display:inline-block;*/
    height: 32px;
}
.data_search_input{
    line-height: 17px!important;
}
@media(max-width:770px) {
    #button {
        padding-top: 3%;
    }
    #search2 {
        padding-top: 3%;
    }
}

.arrow {
    padding-top: 4%;
    padding-left: 6%;
}

#more,
.add-file {
    /*float: right;*/
    /*line-height: 68px;*/
    margin-right: -30%;
    font-size: 16px;
    margin-top: 2px;
}

#more:hover,
.add-file:hover {
    cursor: pointer;
    color: white;
}

.add-file {
    color: white;
}
.padding-l-6{
    padding-left: 6%;
}

/******************************************中间内容******************************************/

.material-content {
    margin: 5% 0 0 0;
    font-size: 14px;
}

.checkbox {
    display: block;
    float: right;
}

.number {
    display: inline-block;
    margin-right: 10%;
}

.data {
    margin-left: 9%;
}

.ziduan {
    /*margin-left:4%;*/
    margin-left: 22px;
}


/*转发模态框调整*/

#form>label>div {
    display: inline-block;
    font-size: 14px;
}

#form>label>div>span {
    width: 95px;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    margin: 1px 1px;
}

#form>label:first-child>div>.balk,
#form>label:last-child>div>.balk {
    background: rgb(22, 138, 237);
    color: #fff;
}

.modal_Zh {
    width: 455px;
    margin: 63px auto;
}

.myZh {
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
}

.my_zh_body {
    text-align: center;
}

.modal-header {
    padding: 20px;
}

.chooseBanJi {
    font-size: 16px;
}


/*********确认模态框****************/

.btn_confirm {
    background-color: #168bee;
    border-color: #168bee;
}

.btn_size {
    padding: 3px 12px;
}

.my_conf_dialog {
    width: 330px;
    font-size: 14px;
    margin: 180px auto;
}

.my_conf_body {
    padding-left: 20px;
    padding-bottom: 5px;
}

.my_conf {
    border-top: none;
    border-bottom: none;
}


/*********************************end***************************************************/

#end {
    margin: 6% 0;
    font-size: 14px;
}

#upload {
    text-align: right;
}

#upload>a>button {
    border-radius: 2px;
    background-color: #168bee;
    color: white;
}

#end>.pil {
    line-height: 238%;
}

.delete {
    color: #168bee;
}

.myTable>tbody>tr>td {
    border-top: none;
    vertical-align: middle;
}

.all_checkbox {
    float: left!important;
    margin-left: 33%!important;
    display: block;
    margin-top: 1px!important;
}
.qx {
    float: left;
}

.up_btn {
    width: 20%;
}

.pil_x {
    width: 18%;
}

.zj {
    width: 21%;
}


/*=======================================upload_data.css  上传数据===================================================*/

#upload_content {
    margin: 0%;
    margin-top: 5%;
    /*width:748px;*/
    width: 100%;
    /*border:1px solid red;*/
    font-size: 14px;
}

#z_1 {
    height: 104px;
    /*margin-left: 30px;*/
    /*margin-right: 30px;*/
    margin-left: 4%;
    margin-right: 4%;
    /*border:1px solid blue;*/
}

#z_1 input {
    height: 28px;
}

.z_t_c {
    overflow: hidden;
    height: 52px;
    /*line-height: 52px;*/
}

.z_t_c input {
    /*width: 187px;*/
    width: 65%;
    /*margin-left: 41px;*/
    margin-left: 10%;
}

.z_title {
    /*width: 340px;*/
    width: 45%;
    float: left;
}

.z_chapter {
    /*width: 340px;*/
    width: 45%;
    float: right;
}

.z_introduce {
    /*width: 688px;*/
    /*border:1px solid red;*/
    width: 100%;
    height: 52px;
    /*line-height: 52px;*/
}

.z_introduce>input {
    /*width: 544px;*/
    width: 84%;
    margin-left: 4.7%;
}

#add {
    /*border:1px solid red;*/
    height: 37px;
    margin-top: 22px;
    margin-right: 30px;
}

#add>#add_add {
    float: right;
    overflow: hidden;
}

#add>#add_add>a {
    margin-left: 20px;
}

#upload_end {
    width: 90%;
    height: 226px;
    margin-top: 15px;
    margin-left: 4%;
    margin-right: 4%;
    /*border:1px solid yellow;*/
}

#upload_end>div>textarea {
    width: 100%;
    height: 156px;
}

#upload_end>#upload_button {
    float: right;
    overflow: hidden;
    margin-top: 15px;
}

#upload_end>#upload_button button {
    background-color: #999999;
    margin-left: 20px;
    color: white;
    border-radius: 2px;
}

#upload_end>#upload_button button:hover {
    background-color: #168bee;
}

#upload_button a {
    color: white;
}

.modal_gx {
    width: 455px;
    margin: 300px auto;
}


/*=======================================employeeFile.css  员工档案===================================================*/

/*.require-filter {*/
    /*display: inline-block;*/
    /*width: 148px;*/
    /*height: 34px;*/
    /*font-size: 14px;*/
    /*background-color: #55acee;*/
    /*color: white;*/
    /*text-align: center;*/
    /*padding-top: 6px;*/
    /*cursor: pointer;*/
    /*border-radius: 2px;*/
/*}*/

.radius-background {
    display: inline-block;
    border-radius: 50%;
    background: white;
    color: #55acee;
    text-align: center;
    height: 20px;
    width: 20px;
}

.main-container {
    width: 100%;
    padding: 0px 20px;
}

/*#choose-all {*/
    /*margin-left: 18.5%;*/
/*}*/

#end img {
    padding-bottom: 2px;
}
/*纠正条件筛选大小问题*/
@media (min-width: 1024px) and (max-width: 1200px) {
    .candidates>.col-md-2{
        width: 110px;
    }
    .candidates>.col-md-5{
        width: 38%;
    }
}
.choose>ul{
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
    float: none;
    margin-bottom:20px;
}
.choose{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    display: none;
}
.choose ul li:first-child{
    font-weight: bold;
}
.choose ul li{
    width: 55px;
    text-align: center;
    cursor:pointer;
}
.choose>input{
    border-radius: 4px;
    border: 1px solid #168AED;
    color: #fff;
    background: #168AED;
    margin-left: 50%;
    margin-top: 30px;
    padding: 5px 10px;
}
.candidates{
    margin-top: 30px;
    font-size: 15px;
}
.candidates>.col-md-2,.candidates>.col-md-3>input{
    text-indent: 30px;
    color: #fff;
    padding: 7px;
}
.candidates>.col-md-3 input{
    background: #fff;
    text-indent: 5px;
    color: #333;
    border: 1px solid #ccc;
}

.candidates>.col-md-2{
    background: url("../images/class_3.jpg") no-repeat #55acee 15px center;
    cursor: pointer;
}
.candidates>.col-md-3>img{
    position: absolute;
    right: -7px;
    top: 7px;
}
.candidates>.col-md-1{
    width:7%;
}
.fi{
    background-color:#168bee;
    color:#fff;
    border-radius:2px;
    padding:2px;
}
.fri{
    padding: 0;
    width: 32%;
    margin-left: 1px;
}
.form-control {
    height: 32px;
    width: 80%;
    padding-left: 2px;
    outline-color:#168BEE;
    display: inline-block;
    border: 1px solid #ccc;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    outline-width:1px;
    line-height: 10px;
    text-indent:0!important;
    color: #333!important;
}
.fri span{
    display: inline-block;
    height: 32px;
    border: 1px solid #ccc;
    width: 30px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    top: -4.5px;
    left: -5px;
    border-left: 0;
    cursor: pointer;
}
.fri span img{
    position: relative;
    top: 4px;
    left: 8px;
}
.empFile_qx{
   width: 29%;
}
.empFile_zj{
    width: 25%;
}
.fix{
    border: 1px solid #168BEE;
    width: 70px;
    height: 52px;
    position:absolute;top:-56%;right:-98%;
    display: none;
    background-color: #fff;
    color:black;
}
.fix>a{
    display:block;
    padding:3px;
    text-align: center;
}
.fix>a:hover{
    background-color:#168BEE;
    color:#fff;
}
.on{
    background-color:#168BEE;
    color:#fff;
}
.empFile_btn{
    border: none;
    background-color: transparent;
    position: relative;
}
.empFile_btn:hover{
    color:#168BEE;
}
.empFile_all_checkbox{
    float: left!important;
    margin-left: 32%!important;
}
.stuFile_all_checkbox{
	float: left!important;
    margin-left: 33%!important;
}
.emp_stu_input{
    line-height: 16px!important;
}

.student-number-sum {
    padding-left: 10px;
}

.add-border-bottom {
    border-bottom: 1px solid #dcdcdc;
}

.no-border-bottom {
	margin-top: 20px;
    
}

.inline-label {
    display: inline-block;
    font-weight: normal;
}
.padding-l-3{
    padding-left: 3%;
}
.border-tr {
    border-bottom: 1px solid #dcdcdc;
}
.stuFile_qx{
    width: 26%;
}
.color_gray{
    color: #666666;
}
