.dot{
		  position: relative;
		}
.dot:after {
  position: absolute;
  top: 0.65em;
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  content: "・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・";
}

/*看拼音写汉字*/
.input-block{
	padding: 36px;
}
.input-single{
	color: #168BEE;
	outline: none;
	border: 0px;
	width: 14px;
	text-align: center;
}
.input-wrap{
	margin-right: 40px;
}


/*
 
 * 评分*/
.pj{
	width: 200px;
	position: absolute;
	border: 1px solid #eee;
	padding: 10px;
	margin-left: 12em;
	display: none;
	background-color:#fff ;
}
.pj>div:nth-of-type(2)>span{
	display: inline-block;
	width: 20px;
	height: 8px;
	background-color: #ccc;
}
.pj b{
	position: absolute;
	top: 1.5em;
	right: 0;
	margin-right: 10px;
	cursor: pointer;
	font-weight: normal;
	color:#168BEE;
}
.question-foot>span:nth-of-type(4){
	position: relative;
	top:-3px;
	cursor: pointer;
}
.question-foot>span:nth-of-type(3),.question-foot>span:nth-of-type(1),.question-foot>span:nth-of-type(2){
	position: relative;
	top:-1px;
}
.pj img{
	margin-right: 5px;
}

.pj>div:nth-of-type(2)>.mui1{
	background-color:#e46161;
}
.pj>div:nth-of-type(2)>.mui2{
	background-color:#f19149;
}
.pj>div:nth-of-type(2)>.mui3{
	background-color:#f8d56d;
}
.pj>div:nth-of-type(2)>.mui4{
	background-color:#cce198;
}
.pj>div:nth-of-type(2)>.mui5{
	background-color:#a3ce7a;
}

/* 简答题答案模态框框 */
.jianDaTi-modal {
	width: 50%;
	max-width: 600px;
}
.answerInput .jianDaTi-txar {
	height: 300px;
}
.d-n {
	display: none;
}
