			@-webkit-keyframes load {
				0% {
					stroke-dashoffset: 0;
				}
			}

			@keyframes load {
				0% {
					stroke-dashoffset: 0;
				}
			}

		.progressbar {
		    position: relative;
		    display: inline-block;
		    padding: 0;
		    text-align: center;
		    height: 400px;
		    width: 100%;
		}

		.progressbar>li {
		    display: inline-block;
		    text-align: center;
		    font-weight: 100;
		    margin: -205px 0 0 -205px;
		    position: absolute;
		    width: 410px;
		    height: 410px;
		    top: 70%;
			left: 59%
			}

			.progressbar>li:nth-of-type(2) {
				font-size: 80px;
				left: 50%
			}

			.progressbar>li:nth-of-type(2)>span {
			font-size: 30px;
			    color: #ccc;
			    display: inline-block;
			    width: 100%;
			}
			.progressbar>li:before {
				content: attr(data-name);
				position: absolute;
				width: 100%;
				bottom: -2rem;
				font-weight: 400;
			}
			.progressbar>li:after {
				content: attr(data-percent);
				position: absolute;
				width: 100%;
				top: 3.7rem;
				left: 0;
				font-size: 2rem;
				text-align: center;
			}
			.progressbar svg {
				width: 30rem;
				height: 30rem;
				position: absolute;
				top: 0;
				left: 0;
			}
			.progressbar svg:nth-child(2) {
				position: absolute;
				left: 0;
				top: 0;
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
			}
			
			.progressbar svg:nth-child(2) path {
				fill: none;
				stroke-width: 25;
				stroke-dasharray: 629;
				stroke: #fff;
				opacity: .9;
				-webkit-animation: load 10s;
				animation: load 10s;
			}