.center1{margin-left: 0;width: 100%;}
.center2>form>label{
	width: 49%;
	margin-bottom: 20px;
}
.center2>form>label:nth-child(even){float:right}
.center2>form>label>input,.center2>form>label>select,
.center3>form>label>input,.center3>form>label>select{
	display:inline-block;
	width: 85%;
	height: 30px;
}
.center3>form>.sx>input{width: 566px;}
.center3>form>.sx{margin-top: 20px;}
/*11.24*/

label {
	font-weight: normal;
}

/*11.25*/

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.center3>form>.width,.center2>form>.width{
	width: 49%
}

.center3,.center2{
	width: 87%;
	margin: 0 auto;
	font-size: 14px;
	margin-top: 5%;
}
.center3{
		display: none;
}
.center3>form>label,.center2>form>.tx{
	width: 100%;
	display: inline-block;
}

.center2>form>.tx>select,
.center2>form>.tx>input{
	height: 35px;
	width: 150px;
}
.center2>form>div{
	margin: 0 auto;
	width: 16%;
}
.center2>form>div>input{
    display: inline-block;
    background-color: #168BEE;
    border: none;
    color: #fff;
	width: 76px;
	height: 32px;
    border-radius:4px;
    margin-left: 20px;
    outline: none;
    cursor: pointer;
}
/*所有附件*/

#appendix {
	width: 54%;
	margin: 20px 0;
}

#appendix>div {
	float: left;
	width: 33%;
	text-align: right;
}

#appendix input {
	position: absolute;
	margin-top: 0px;
	width: 72px;
	margin: -25px 0 0 115px;
	outline: none;
	cursor: pointer;
	text-indent: -85px;
}

#appendix>.appendix {
	text-align: left;
	position: relative;
	left: 17px;
}


/*所有题型*/

#having {
	width: 100%;
}

#having>div {
	display: none;
	width: 100%;
	position: relative;
}

#having>.block {
	display: block;
}

[contenteditable="true"] {
	cursor: auto;
}


/*解答题和综合题*/

.return,
.ask,.Answer_questions>textarea{
	width: 100%;
	min-height: 156px;
	margin-bottom: 20px;
	text-indent: 40px;
	padding: 10px 0 0 0;
	border: 1px solid darkgrey;
}

.rubric1>div>span,.Answer_questions>span{
	position: absolute;
	margin: 10px 0 0 10px;
}
.superinduce{cursor: pointer;}

/*题型*/

.rubric2>div:first-child,
.select>div,
.rubric3>div:first-child,
.rubric4>div:first-child,
.Multiselect>div,
.rubric5>div:first-child,
.rubric6>div:first-child,
.rubric7>div:first-child,
#srot>div,
.judge_w>div,
.rubric9>div:first-child,
#pack>div{
	border: 1px solid darkgrey;
	width: 100%;
	padding: 8px 0;
}

.rubric2>div:first-child>span:first-child,
.select>div>span:first-child,
.rubric3>div:first-child>span:first-child,
.rubric4>div:first-child>span:first-child,
.Multiselect>div>span:first-child,
.rubric5>div:first-child>span:first-child,
.rubric6>div:first-child>span:first-child,
.rubric7>div:first-child>span:first-child,
.judge_w>div>span:first-child,
.rubric9>div:first-child>span:first-child{
	margin-left: 10px;
	display: inline-block;
	width: 44px;
}

.rubric2>div:first-child>#quiz,
.quiz,
.duok,
.rubric5>div:first-child>.draw,
.rubric6>div:first-child>.ligature,
.rubric7>div:first-child>.srot,
.judge_w>div>.judges,
.rubric9>div:first-child>.pack,
.rubric4>div:first-child>span:nth-of-type(2){
	height: auto;
	outline: none;
	width: 87%;
	display: inline-block;
}

.add_key,
.Empty_title,
.Multiselectt,
.Multiselect>div,
.ligature_add,
.select,
.and,
#ligature,
#srot,
.srot_add,
#srot>div,
.judge_add,
.judge_w>div,
.judge_daan,
.pack_add,
#pack{
	margin-top: 20px;
}

.key_a,
.blank,
.ligature_add>span,
.pack_add>span{
	cursor: pointer;
}


/*单选题*/

.select>div {
	margin-bottom: 20px;
}

.add_key>div {
	display: inline-block;
	width: 49%;
}

.add_key>div {
	text-align: right;
	width: 50%;
}

.add_key>div>select {
	width: 130px;
	height: 35px;
}

.select>div>img {
	cursor: pointer;
}

b {
	font-weight: normal;
}


/*多空题*/

.and>div>input {
	border: 1px solid darkgrey;
	padding: 7px 0;
	margin: 10px 0 0 10px;
	text-indent: 15px;
}

.and>div>input[name="issue"] {
	width: 68%;
}

.and>div>input[name="value"] {
	width: 20%;
}

.and>div>img {
	margin-left: 15px;
}

.duok>input,.pack>input{
	width: 60px;
	height: 30px;
	border: 0;
	border-bottom: 1px solid #168BEE;
	text-align: center;
	outline: none;
	text-indent: 0;
	background-color: #fff;
}
.daan>span{
	border: 1px solid darkgrey;
	color: #666;
    width: 152px;
    min-height: 40px;
    line-height: 40px;
    text-indent:10px;
}
.daan>span:first-child{	
    display: inline-block;
	cursor: pointer;	
}
.daan>span:first-child>b{
	display: block;
	width: auto;
	height: auto;
		background: url('../images/001_03.png') no-repeat 95% center;
	background-size: 10px;
}
.daan>span:last-child{
	display:none;
    margin-left: 78px;
    margin-top: -1px;
}
.daan>span:last-child>input,.daan>span:first-child>input{
	width: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}
/*连线题*/
#ligature>div{
	width: 50%;
}
.ligature_a>div,.ligature_b>div{
	border: 1px solid darkgrey;
	width: 95%;
	padding: 8px 0;	
	margin:20px 0 0 0;
	position: relative;
}
.ligature_a>div>span:first-child,.ligature_b>div>span:first-child{
	margin-left: 10px;
}
.ligature_a>div>.ligature,.ligature_b>div>.ligature{
	height: auto;
	outline: none;
	width: 79%;
	display: inline-block;	
}
.ligature_b>div>img,#srot>div>img,.judge_w>div>img,#pack>div>img{
	position: absolute;
	right: 10px;
	cursor: pointer;
}
/*排序*/
#srot>div{position: relative;}
#srot>div>span:first-child{margin-left: 10px;}
#srot>div>.srot{width: 90%;display: inline-block;outline: none;}
.srot_add>span,.judge_add>span{cursor: pointer;}
/*判断题*/
.judge_w{width:85%;position: relative;}
.judge_d{width: 15%;}
.judge_w>div>.judges{width: 78%;}
.judge_w>div>span:first-child{width: 55px;}
.judge_d>div{
	height: 38px;	
}
.judge_daan{float: right;}
.judge_d>div>img{
	position: relative;
	top: 4px;
	cursor: pointer;
}
.judge_d>div>img:last-child{
	top: 2px;
	left: 5px;
}
/*填空题*/
#pack>div{margin-bottom: 20px;}
#pack>div>span:first-child{margin-left: 10px;}
#pack>div>.pack_a{width: 90%;display: inline-block;outline: none;}
/*提交，保存*/
.fastener{
	margin-top: 20px;
}
.fastener>span{
	display: inline-block;
	background-color: #168BEE;
    border: none;
    color: #fff;
    width: 86px;
    height: 32px;
    border-radius: 4px;
    margin-left: 20px;
    outline: none;
    cursor: pointer;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
}
.fastener>span:first-child{background-color: #999999;}



.center2>form>label>.chapter{
	width: 42%;
}
