.choose ul li {
   padding: 3px 10px;
    text-align: center;
    cursor:pointer;
}
#table th,#table td{
    width: 95px;
}
#centery>div>table:nth-of-type(2) th,#centery>div>table:nth-of-type(2) td{
	width: 145px;
}
.choose>span{
    color: #168AED;
    cursor: pointer;
    margin-left: 5px;
}
.ul{
    display: none;
}
.fi{
    background-color: rgb(22, 139, 238);
    padding: 2px;
    border-radius:4px;
    color: #fff;
}
/* ���Google Chrome��Safari
3.0��Opera
9 ��CSS��ʽ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #table th, #table td{
        width: 98px;
    }
}



@media only screen and (max-width:1200px) {
	   #table th, #table td{
        width: 81px;
    }
}







.last_td{
	background: url(../images/cj.jpg) no-repeat;
	display: none;
}
.last_th,.last_td{
		    width: 30px;
    height: 18px;
    margin: 0 auto;
    position: relative;
    top: 4px;
}
.last_th{
	background: url(../images/cj.jpg) no-repeat 0 -57px;
	display: none;
}
#table .qs{
	display: none;
}
