form>label>select{
    width: 85%;
    height: 30px;
    text-indent: 10px;
    margin-bottom: 15px;
    resize: none;
    background-color: transparent;
    border: 1px solid #ccc;
    color: #333;
    margin-left: 0px;
}
form>input{
    margin-left: 280px;
}
.file{
    position: absolute;
    display: block;
    width: 94%;
    height: 36px;
    resize: none;
    background-color: transparent;
    top: -5px;
    left: 73px;
    overflow: hidden;
}
.file>input{
    width: 100%;
    height: 97%;
    background-color: transparent;
    color: #666;
    padding-top: 6px;
    border: 0;
    text-indent: -87px;
    margin-left: -60px;
    margin-top: 2px;
    cursor: pointer;
}