p{
    margin: 0 0 10px;
}
.disSelsect{
    padding-top: 10px;
    transition: all 0.5s;
    cursor: default;
    overflow-y: hidden;
    overflow-x: visible;
}
.disSelsect.active{
    height: 0!important;
}
.disSelsectBox{
    width: 600px;
    margin-left: -170px;
    position: relative;
    padding-left: 170px;
    overflow: hidden;
    margin-right: -100px;
    padding-right: 100px;
}
.work_tbody tr td{
    vertical-align:top;
}
.answer_span{
    margin-right:20px;
}
.pan-duan i {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background-position: -20px -50px;
}
.rightActive .right {
    background-position: -22px -86px;
}
.wrongActive .wrong {
    background-position: -70px -86px;
}
.ic-blueB-btn.personHw:hover {
    background-color: #E0EEFF;
}
.titleIcon {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 8px;
    margin-right: 10px;
}
.titleIcon i{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.tdBtn{
    cursor: pointer;
}
.deleteText{
    width:24px;
    cursor: pointer;
    text-align: center;
}
.tipIcon{
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 8px;
    margin-right: 10px;
}
#tips{
    display:none;
}
.tips{
    width:100%;
    height:246px;
    position: relative;
}
.tipTitleBox{
    width: 100%;
    text-align: center;
    padding: 16px 0;
}
.tipsTitle{
    width:70px;
    height:19px;
    line-height: 19px;
    color: #168bee;
    display: inline-block;
}
.tipClassBox{
    width: 100%;
    padding: 0 32px;
    height: auto;
    overflow: hidden;
}
.TheClass{
    float: left;
}
.TheClassTitle{
    width: 60px;
    height: auto;
    line-height: 24px;
    margin-right: 20px;
    font-size: 12px;
}
.TheClassCheck{
    width: 456px;
    height: auto;
    max-height: 128px;
    overflow: hidden;
    font-size: 12px;
}
.TheClassCheck ul{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.TheClassCheck ul li{
    display: inline-block;
    width: 62px;
    height: 24px;
    margin-right: 20px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    border-radius: 2px;
}
.TheClassCheck ul li.active,.TheClassCheck ul li:hover{
    background:#e0eeff;
}
.TheClassCheck ul li.active{
    color: #168bee;
}
.classFooterBtn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 67px;
    padding-bottom: 40px;
    text-align: center;
}
.classBtnBox{
    width: 160px;
    height: 27px;
    line-height: 27px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -80px;
}
.classBtnBox button{
    width: 68px;
    height: 27px;
    border: 1px solid #d9d9d9;
    text-align: center;
    line-height: 27px;
    font-size: 12px;
    border-radius: 4px;
}
.relayClass{
    border: none;
    background-color: #419bf9;
    float: left;
    color: #fff;
}
.unpublishing{
    float: right;
}
/* .shade_box{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
} */
.chapterBox{
    width:100%;
    height:24px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
    cursor: default;
}
.chapterBox .chapterBtn{
    display: block;
    color: #168bee;
    height: 24px;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #168bee;
    padding:0 20px 0 50px;
    position: relative;
}
.chapterTitle{
    display: inline-block;
    width: 40px;
    line-height: 16px;
    position: absolute;
    top: 4px;
    left: 5px;
}
.chapterContent{
    display: inline-block;
    height: 24px;
    width: 300px;
    line-height: 16px;
    text-align: center;
    margin-top: 0;
}
.chapterIcon{
    display: inline-block;
    width: 15px;
    text-align: center;
    line-height: 16px;
    position: absolute;
    top: 4px;
    right: 5px;
    cursor: pointer;
}