.do-hw{
    margin-left: 100px;
}
.do-hw .view {
    height: 250px;
}
.radio-wrap{
    margin-left:40px;
}
.mains div:first-child span:first-child b {
    color: #168BEE;
    font-size: 58px;
}
.mains div:first-child span:last-child b {
    color: #FF5B5B;
    font-size: 58px;
}
.mains div:first-child span {
    display: inline-block;
    width: 50%;
    text-align: center;
}
.mains div:first-child span:last-child{
    float:right;
}
.mains {
    position: relative;
}
.mains>div:first-child {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin: -45px 0 0 -9%;
    width:18%;
}
.ta-c button{
    margin-left: 30px;
}
.ic-btn.noEnd{
    background-color: #F7F7F7;
    color: #d9d9d9;
    border: 1px solid #d9d9d9;
    line-height: 26px;
}
.ic-btn.noEnd:hover{
    background-color: #F7F7F7;
}
.mains div:first-child span b{
    display: inline-block;
    width: 65px;
    height: 65px;
}
.echar-title{
    background-color:rgba(255,255,255,0.45);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 4px;
    color:#168bee;
    font-size: 12px;
    width: 90px;
    text-align: center;
    padding-bottom: 10px;
}
.echar-title span{
    position: relative;
    display: block;
    width: 100%;
    color: #333;
    margin-top: 5px;
    text-indent: 16px;
}
.echar-title b{
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    overflow: hidden;
    background: url('/images/uploadExerIcons.png') no-repeat;
    background-position: -107px -112px;
    left: 15px;
}
.echar-title span:nth-of-type(2) b{
    background-position: -89px -112px;
}
.echar-title span:nth-of-type(3) b{
    background-position: -70px -112px;
}
#answerInstrument{
    width: 1000px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
}
#answerInstrument ul{
    width: 100%;
    height: 100%;
    position: relative;
}
#answerInstrument ul li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 1000px;
}
.exer-num #countDowns{
    display: block;
}
.rido{
    position: absolute;
    top: 340px;
    display: none;
    margin-top: -35px;
    background: #fff;
    z-index: 9999;
    width: 100%;
}
.rido>div{
    display: table;
    float: right;
    width: 850px;
    line-height: 30px;
    margin-right: 50px;
}
.rido>div span{
    display:table-cell;
    cursor: pointer;
    text-align: center;
}
.rido>div span i{
    cursor: pointer;
    margin-left: -100px;
}
.rido .title{
    display: block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    float: left;
}
#freedomEndBtn{
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
}