/************** dataBank.html ****************/
.data-bank ul {
    margin-bottom: 0;
}
.data-bank-head .icon-text-btn {
    width: 84px;
}
.data-bank .upload-data-btn {
    top: 4px;
    background-position: -50px -69px;
}
.data-bank .data-wrap {
    margin-top: 18px;
}
.data-bank .data-list {
    width: 100%;
    border-bottom: none;
}
.data-bank .data-list th, .data-bank .data-list td {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #d9d9d9;
}
.data-bank .data-list th:first-child {
    width: 95px;
}
.data-bank .data-list th:nth-child(2) {
    width: 140px;
}
.data-bank .data-list th:nth-child(3) {
    width: 140px;
}
.data-bank .data-list th:last-child {
    width: 145px;
}
.data-list-order {
    position: relative;
    top: 2px;
}
.data-bank .order-box {
    padding-left: 15px;
}
.data-bank .order-box>span {
    margin-left: 10px;
}
.data-bank .fa {
    font-size: 14px;
    margin-right: 2px;
}
.data-bank-head .fa-exclamation-circle {
    margin: 0;
    font-size: 12px;
}
.data-bank .function>span {
    cursor: default;
    margin-right: 15px;
}
.data-bank .data-footer {
    padding: 0 15px
}
.data-bank .data-footer ul>li {
    margin-right: 15px;
    cursor: default;
}




/************* dataBankUploadData.html *************/
.data-bank-chapter>span {
    width: 75px;
    font-size: 14px;
    float: left;
    margin-top: 4px;
}
.dBUploadData .ic-editor {
    width: 545px;
}

/*上传弹出框*/
.dBUploadBox {
    z-index: 300;
    width: 600px;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
}
.dBUpload-head {
    height: 54px;
    line-height: 54px;
    padding-left: 20px;
}
.dBUploadBox .right-icon {
    width: 28px;
    height: 28px;
    top: 7px;
    margin-right: 7px;
    background-position: -361px -30px;
}
.dBUpload-body {
    height: 246px;
    padding: 16px 32px 20px;
}
.dBUpload-body .classes {
    width: 400px;
}
.dBUpload-body .classes>span {
    padding: 3px 7px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 2px;
    display: inline-block;
}
.dBUpload-body .checked {
    color: #168bee;
    background-color: #E0EEFF;
}
.dBUpload-body ul>li:first-child {
    margin-top: 3px;
}


























