/*#left ul>li:first-child>a {
     color: #fff;
     background-color: #168bee;
}
*/


/**************** homeworkManage.html ******************/

.homework-manage-title {
    font-size: 16px;
    padding-left: 10px;
    padding-top: 8px;
    margin: 0 -15px;
}
.homework-manage-title>li {
    width: 126px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.homework-manage-title>li>a {
    cursor: pointer;
    display: block;
}
.homework-manage-title .active {
    color: #168bee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #fff;
}
.homework-type-box {
    min-height: 420px;
    padding-top: 133px;
}
.homework-type-box .homework-type {
    width: 284px;
    margin: 0 auto;
}
.homework-type-box .homework-type>li>a {
    width: 120px;
    height: 120px;
    padding-top: 23px;
    text-align: center;
}
.homework-type-box .homework-type>li:first-child {
    margin-right: 44px;
}
.homework-type-box .homework-type .teacher_icons {
    width: 46px;
    height: 42px;
    margin-bottom: 14px;
}
.homework-type-box .person_hw>i {
    background-position: -297px -24px;
}
.homework-type-box .group_hw>i {
    background-position: -249px -24px;
}
.homework-type-box .person_hw:hover>i {
    background-position: -131px -24px;
}
.homework-type-box .group_hw:hover>i {
    background-position: -197px -24px;
}
.homework-type-box .guide {
    z-index: 300;
    top: 115px;
    left: 50%;
    margin-left: -161px;
}
.homework-type-box .guide>div {
    right: 74px;
    bottom: 27px;
}


/*布置作业（个人）*/
.person_hw_box {
    padding: 33px 26px;
    min-height: 475px;
}

.person_hw_box .one-line {
    margin-bottom: 20px;
}
.person_hw_box .one-line>span {
    width: 75px;
    font-size: 14px;
    float: left;
    margin-top: 4px;
}
.person_hw_box .select-form {
    margin-top: 0;
}
.person_hw_box .select-form .ic-text {
    margin: 0;
}
.person_hw_box .calendar,.person_hw_box .calendar>input {
    width: 170px;
    cursor: pointer;
}
.person_hw_box .hw-content {
    width: 530px;
    height: 138px;
    padding: 10px;
    resize: none;
}
.no-exer .guide {
    z-index: 300;
    top: -5px;
    left: 0;
}
.person_hw_box .guide>div {
    bottom: 3px;
    right: 44px;
}
.no-exer .ic-blueB-btn {
    margin-right: 30px;
}
body .lhgcal {
    position: absolute;
    left: 32%;
    top: 446px;
}

/*添加习题*/
.person_hw_box .person-exer-list {
    position: relative;
    top: 10px;
    clear: both;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.person-exer-list th,
.person-exer-list td {
    height: 42px;
    padding: 15px 0 5px;
}
.person-exer-list th,
.person-exer-list td {
    border-bottom: 1px solid #d9d9d9;
}
.person-exer-list .spread td {
    border-bottom: none;
}
.person-exer-list th:first-child,
.person-exer-list tr>td:first-child {
    width: 90px;
    padding-left: 15px;
}
.person-exer-list th:nth-child(2),
.person-exer-list tr>td:nth-child(2) {
    width: 100px;
}
.person-exer-list th:nth-child(3),
.person-exer-list tr>td:nth-child(3) {
    width: 360px;
}
.person-exer-list th:nth-child(4),
.person-exer-list tr>td:nth-child(4) {
    width: 70px;
}
.person-exer-list .table-last {
    width: 70px;
    padding-right: 15px;
    text-align: right;
    font-weight: normal;
}
.person-exer-list tbody tr>td:last-child .fa {
    font-size: 16px;
}
.person-exer-list input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin: 0 5px 0 0;
}
.person-exer-list tbody.d-b .slide-down-exer {
    padding-left: 190px;
}
.person-exer-list .pan-duan i {
    position: relative;
    top: 6px;
}
.tfoot {
    height: 42px;
    line-height: 39px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.tfoot .fa-trash-o {
    top: 0;
}
.tfoot .d-n {
    display: none;
}
.tfoot .addExerBtn i {
    background-position: -99px -57px;
}
.tfoot .disabled-add i {
    background-position: -72px -32px;
}
.has-exer {
    margin-bottom: 26px;
}



/*上传习题弹出框*/
.personHw-exer {
    z-index: 230;
    width: 700px;
    height: 630px;
    padding: 0 20px 20px;
    top: 50%;
    left: 50%;
    margin-top: -315px;
    margin-left: -350px;
    overflow-y: auto;
    border-radius: 4px;
}
.personHw-exer .preview-hw-head {
    margin-bottom: 10px;
    padding: 11px 0;
    border-bottom: 1px solid #d9d9d9;
}
.personHw-exer .hw-title {
    font-size: 16px;
}
.personHw-exer .exercise-box .exercise:first-child {
    border: none;
}
.exercise .select-form {
    margin-top: 9px;
}


/*发布弹出框*/
.dBUploadBox {
    z-index: 300;
    width: 600px;
    height: 300px;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
}
.dBUpload-head {
    height: 54px;
    line-height: 54px;
    padding-left: 20px;
}
.dBUploadBox .right-icon {
    width: 28px;
    height: 28px;
    top: 7px;
    margin-right: 7px;
    background-position: -361px -30px;
}
.dBUpload-body {
    padding: 16px 32px 20px;
}
.dBUpload-body .classes {
    width: 400px;
}
.dBUpload-body .classes>span {
    padding: 3px 7px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 2px;
    display: inline-block;
}
.dBUpload-body .checked {
    color: #168bee;
    background-color: #E0EEFF;
}
.dBUpload-body ul>li:first-child {
    margin-top: 3px;
}


/*习题样式修改*/
.person-exer-list .exer-in-list .option {
    width: 360px;
}
.person-exer-list tbody .lian-xian.slide-down-exer {
    padding-left: 100px;
}
.person-exer-list .wan-xing-tk-box {
    width: 380px;
}




/**************** exerRoom.html **************/
/*已添加的作业*/
.hw-list {
    position: fixed;
    right: 50%;
    top: 450px;
    margin-right:-570px;
    z-index: 300;
    width: 204px;
    padding-bottom: 10px;
    background-color: #fff;
}
.hw-list .title {
    font-size: 16px;
    height: 54px;
    line-height: 54px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    background-color: #444547;
}
.hw-list ul>li {
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
}
.hw-list .preview {
   margin-left: 10px;
}
.hw-list .ic-btn:hover {
    color: #fff;
}

/*添加作业 页面引导*/
.exercise-room .guide {
    z-index: 300;
    top: 51px;
    left: 0;
}
.exercise-room .guide>div {
    top: 170px;
    right: 321px;
}

/*预览作业*/
.exer-room .ic-modal {
    z-index: 310;
}
.preview-hw-wrap .preview-hw-head {
    margin-bottom: 10px;
    padding: 11px 0;
    border-bottom: 1px solid #d9d9d9;
}
.preview-hw-wrap .hw-title {
    font-size: 16px;
}
.preview-hw-wrap .exer-list {
    margin-top: 0;
}
.preview-hw-wrap .complete {
    display: block;
    margin: 30px auto 0;
}

/*预览作业 页面引导*/
.preview-guide {
    z-index: 300;
    top: 50%;
    left: 50%;
    margin-top: -365px;
    margin-left: -351px;
}
.preview-guide>div {
    top: 137px;
    right: 70px;
}


/******************** personHwMark.html *********************/
.person-hw-mark .hw-list {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 250;
    margin-left: 367px;
    margin-top: -107px;
}









/*************** errorRoom.html ****************/
.error-room .admin-container {
    padding: 10px 17px 30px;
}
.error-room .exer-foot .error-num {
    /*margin-bottom: 7px;*/
}
.error-room-return {
    display: block;
    margin: 40px auto 0;
}
.error-room .exer-foot .pan-duan-icon {
    width: 24px;
    height: 24px;
    right: -30px;
    top: -5px;
}
.error-room .exer-foot .right {
    background-position: -22px -86px;
}
.error-room .exer-foot .wrong {
    background-position: -70px -86px;
}



/************* personHwMark.html ************/
.person-hw-mark-head .lookSameExer {
    line-height: 28px;
    text-decoration: underline;
    padding: 0 5px;
    display: block;
    float: left;
}
.person-hw-mark-head .isMark {
    width: 67px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    color: #666;
    border: 1px solid #d9d9d9;
    margin-right: -1px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.person-hw-mark-head .isMark.doMark{
    right: 0;
}
.person-hw-mark-head .isMark.notMark{
    right: 66px;
}
.person-hw-mark-head .f-r.p-r{
    height: 28px;
}
.person-hw-mark-head .isMark.active {
    color: #168bee;
    border: 1px solid #168bee;
    background-color: #e1f5fa;
    z-index: 9;
}
.person-hw-derail {
    margin-top: 20px;
}
.person-hw-derail>li {
    width: 24%;
    height: 25px;
    line-height: 25px;
}
.person-hw-derail>li:first-child {
    width: 28%;
}
.person-hw-derail .score {
    width: 88px;
    height: 25px;
    outline: none;
    padding-left: 10px;
    line-height: 23px;
}




/************** myExerRoom.html **************/

/*“我上传的”，“我收藏的”*/
.my-exer-room-head .isMark {
    float: left;
    width: 67px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    color: #666;
    border: 1px solid #d9d9d9;
}
.my-exer-room-head .isMark.active {
    color: #168bee;
    z-index:999;
    border: 1px solid #168bee;
    background-color: #e1f5fa;
}
.my-exer-room-head .isMark.active a{
    color: #168bee;
}
.isMark:hover a{
    color:#168bee;
}
.ls_hr{
    width: 0;
    height: 28px;
    border-left: 1px solid #d9d9d9;
    float: left;
    display: block;
}
.ls_hr.active{
    border-color: #168bee;
}
.my-exer-room-head .notMark,.my-exer-room-head .notMark.active {
    border-left: none;
}
.my-exer-room-head .doMark,.my-exer-room-head .doMark.active {
    border-right: none;
    border-left: none;
}
.subject_box.subject_box_noActive{
    width: 360px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 0;
    margin-top: -5px;
}
.subject_box.subject_box_active{
    width: 360px;
    display: block;
    word-break:break-all;
    padding: 5px 0;
    margin-top: -5px;
}


/******************* editorExerPage.html *********************/
.editorExerModal {
    padding-top: 20px;
}
.editorExerModal hr {
    margin-top: 15px;
    margin-bottom: 15px;
}







/******* 陈杰写 ********/
/*查看解析*/
.analyticType>span {
    display: inline-block;
    border: 1px solid #eee;
    padding: .5rem;
    cursor: pointer;
}
.analyticType>span:first-child{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;

}
.analyticType>span:last-child{
    border-bottom-right-radius:4px;
    border-top-right-radius:4px;
    position: relative;
    left: -4px;
    border-left: 0;
}
.analyticType>.pitchOn{
    color: #168BEE;
    border: 1px solid #168BEE;
}
.video_analyze{
    display: none;
}




/*批改作业*/
.pigaizuoye {
    width: 100%;
}

.manageAdmin-wrap .pigaizuoye:nth-of-type(1),
.manageAdmin-wrap .pigaizuoye:nth-of-type(3) {
    display: none;
}

.pigaizuoye td,
.pigaizuoye th {
    padding: 10px;
    text-align: center;
}

.pigaizuoye th {
    background-color: #E7E7E7;
}

.estate {
    float: right;
    margin-bottom: 30px;
    cursor: pointer;
}

.estate>span {
    display: inline-block;
    text-align: center;
    line-height: 28px;
    width: 73px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #eee;
}

.estate>span:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    left: -3px;
}

.estate>span:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.estate>.last {
    background: #E0EEFF;
    border: 1px solid #0F86DD;
}

.Panel-selection {
    margin-bottom: 20px;
}

.Panel-selection span {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    width: 62px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

.Panel-selection .entirely {
    background: #E0EEFF;
    border-radius: 2px;
    color: #168bee;
}

.work-correction,
.Group-correction {
    text-align: center;
}

.Group-search {
    text-align: left
}

.work-correction table,
.Group-correction table {
    margin: 15px 0 20px 0;
}

.Group-search>span {
    display: inline-block;
    width: 108px;
    height: 28px;
    margin-right: 10px;
    line-height: 28px;
    border: 1px solid #eee;
    border-radius: 4px;
    position: relative;
    text-indent: 10px;
    cursor: pointer;
}

.Group-search>span>input {
    border: none;
    height: 100%;
    width: 85%;
    text-indent: 10px;
    position: absolute;
    top: 0;
    left: 0;
    outline: medium;
}

.Group-search>span>i {
    float: right;
    margin-right: 7px;
    margin-top: 7px;
}

.Group-search>span:last-child {
    width: 152px;
    margin-right: 0;
}

.Group-search>span>div>ul {
    width: 108px;
    border: 1px solid #eee;
    border-radius: 4px;
    position: relative;
    z-index: 102;
    margin-top: 5px;
    position: absolute;
    background-color: #fff;
    display: none;
}

.Group-search>span>div>ul>li {
    border-bottom: 1px solid #eee;
}

.Group-search>span>div>ul>li:last-child {
    border: none;
}

table td:last-child span {
    cursor: pointer;
}



