			@-webkit-keyframes load {
				0% {
					stroke-dashoffset: 0;
				}
			}
			
			@keyframes load {
				0% {
					stroke-dashoffset: 0;
				}
			}
			
			.progressbar {
				position: relative;
				display: inline-block;
				padding: 0;
				text-align: center;
				margin: 10% 0 0 15%;
			}
			
			.progressbar>li {
				display: inline-block;
				position: relative;
				text-align: center;
				font-family: Lato;
				font-weight: 100;
				margin: 2rem;
			}
			
			.progressbar>li:nth-of-type(2) {
				margin: 0;
				position: absolute;
				top: 50px;
				left: 127px;
				font-size: 80px;
			}
			
			.progressbar>li:nth-of-type(2)>span {
				font-size: 30px;
				color: #ccc;
			}
			
			.progressbar>li:before {
				content: attr(data-name);
				position: absolute;
				width: 100%;
				bottom: -2rem;
				font-weight: 400;
			}
			
			.progressbar>li:after {
				content: attr(data-percent);
				position: absolute;
				width: 100%;
				top: 3.7rem;
				left: 0;
				font-size: 2rem;
				text-align: center;
			}
			
			.progressbar svg {
				width: 30rem;
				height: 30rem;
			}
			
			.progressbar svg:nth-child(2) {
				position: absolute;
				left: 0;
				top: 0;
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
			}
			
			.progressbar svg:nth-child(2) path {
				fill: none;
				stroke-width: 25;
				stroke-dasharray: 629;
				stroke: #fff;
				opacity: .9;
				-webkit-animation: load 10s;
				animation: load 10s;
			}