body{
    padding-top:138px;
}
/**********************顶部搜索栏*********************/
#searchBar{
    width:100%;
    background-color:rgba(51,51,51,0.9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5333333, endColorstr=#E5333333);
    zoom: 1;
}
#searchNav{
    width:1200px;
    height: 78px;
    line-height: 78px;
    margin:0 auto;
}
#searchNav>.area{
    float:left;
    position: relative;
    top: 4px;
    left: 50px;
}
.area>.personArea{
    margin-right: 20px;
    position: relative;
    display: inline-block;
}
.area>.personArea>div{
    padding-right: 36px;
    min-width:100px;
    height:45px;
    line-height: 45px;
    font-size: 18px;
    border:1px solid #ccc;
    border-radius: 7px;
    cursor: pointer;
    background-color: #fff;
}
.area>.personArea>div>span{
    margin-left: 15px;
}
.area>.personArea>div>b{
    display: inline-block;
    width:16px;
    height:8px;
    position: absolute;
    top: 19px;
    right: 10px;
    background: url("../images/media/Hpb_down.png") no-repeat;
}
.area>.personArea .upPng{
    background: url("../images/media/Hpb_up_p.png") no-repeat;
}
.area>.personArea>ul{
    min-width:110px;
    min-height:127px;
    overflow-y: auto;
    font-size: 16px;
    position: absolute;
    top: 50px;
    left:0;
    background-color: #fff;
    border:1px solid #ccc;
    display: none;
}
.area>.personArea>ul>li{
    height:40px;
    line-height: 40px;
    color:#777;
    text-align: center;
    cursor: pointer;
}
.area>.personArea>ul>li:hover{
    background-color: #f1f1f1;
}
/*******************搜索**************/
#searchNav>.searchContent{
    float: right;
    margin-right: 135px;
    position: relative;
}
#searchNav>.searchContent>input{
    height:45px;
}
#searchNav>.searchContent>input:first-child{
    /*line-height: 19px;*/
    line-height: 37px;
    width:370px;
    font-size: 16px;
    padding-left: 50px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background: url("../images/media/Hpb_search.png") no-repeat #fff 10px center;
}
#searchNav>.searchContent>input[type="button"]{
    width:105px;
    font-size: 18px;
    color:#fff;
    position: absolute;
    right: -105px;
    top: 16px;
    line-height: 45px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #168AED;
    border: none;
}
#searchNav>.searchContent>input[type="button"]:hover{
    background-color:#2E94EB ;
}
/*****背景图******/
.bigbg{
    position: fixed;
    z-index: -100;
}
.bigbg>img{
    width:100%;
}

/*************************详情内容********************/
#waterfall{
    width:1200px;
    margin:0 auto;
}
/*****分享的模态框开始*******/
#waterfall>.umodal{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8000000, endColorstr=#C8000000);
    display: none;
}
.umodal>.umodal-dialog{
    width:600px;
    margin:260px auto;
}
.umodal-dialog>.umodal-content{
    padding:20px;
    background-color: #fff;
}
.umodal-dialog>.umodal-content>p{
    font-size: 14px;
}

/*********新分享开始*******/
.umodal-content>.bdsharebuttonbox{
    width:356px;
    margin: 20px auto;
    margin-bottom: 0;
}
.umodal-content>.bdsharebuttonbox>a{
    width:51px;
    height:51px;
    margin:10px;
}
#bdshare_weixin_qrcode_dialog .bd_weixin_popup_main{
    padding: 10px 10px;
}
#qq{
    background: url("../images/media/Hpb_qq.png") no-repeat;
}
#qqRoom{
    background: url("../images/media/Hpb_qqRoom.png") no-repeat;
}
#weixin{
    background: url("../images/media/Hpb_friends.png") no-repeat;
}
#tqq{
    background: url("../images/media/Hpb_weibo.png") no-repeat;
}
#tsina{
    background: url("../images/media/Hpb_xinlang.png") no-repeat;
}
/******新分享结束*******/
/*******分享的模态框结束*******/
#waterfall>.waterfall{
    padding:20px;
    padding-bottom: 0;
    font-size: 16px;
    margin-top: 25px;
    color:#666;
    border:1px solid #ccc;
    border-radius: 7px;
    background-color: #fff;
}



.waterfall>.content>h4{
    color: #404040;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
.waterfallHead>ul>li{
    padding:0;
}
.waterfallHead>ul>li>img{
    width:30px;
}
.waterfallHead .schoolName{
    color:#168AED;
    margin-right: 20px;
}
.content>.listBar>li{
    font-size: 14px;
    margin-right: 15px;
}
.content>.listBar>li>img{
    width:20px;
}




.waterfall>.content{
    width:780px;
    margin:30px auto;
}
.content>.articleBox{
    font-size: 16px;
    margin-top: 25px;
    text-indent: 2em;
    line-height: 30px;
    text-align: justify;
}
.content>.mediaBox{
    margin-top: 20px;
}
.waterfall>.waterfallFoot{
    width:520px;
    margin:30px auto;
    margin-bottom: 30px;
}
.waterfallFoot>.commer>div{
    display: inline-block;
}
.waterfallFoot>.commer>div>span{
    font-size: 14px;
}
.waterfallFoot>.appraise>b{
    display: inline-block;
    width:22px;
    height:22px;
    background: url("../images/media/Hpb_comment.png") no-repeat;
    background-size:22px 22px;
    position: relative;
    top: 6px;
}
.waterfall>.waterfallFoot>li{
    margin-right:99px;
    cursor: pointer;
}
.waterfall>.waterfallFoot>li>img{
    width:22px;
}
.waterfall>.waterfallFoot>.support{
    margin-right:0;
    position: relative;
}
/*******点赞动画*******/
@-webkit-keyframes support {
    0% {
        top:2px;
        opacity:0;
    }
    60% {
        top:-20px;
        opacity:1;
    }
    100% {
        top:-20px;
        opacity:1;
    }
}
@-moz-keyframes support {
    0% {
        top:2px;
        opacity:0;
    }
    60% {
        top:-20px;
        opacity:1;
    }
    100% {
        top:-20px;
        opacity:1;
    }
}
@-ms-keyframes support {
    0% {
        top:2px;
        opacity:0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    }
    60% {
        top:-20px;
        opacity:1;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    }
    100% {
        top:-20px;
        opacity:1;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    }
}

.waterfallFoot>.support>span{
    color:orangered;
    position: absolute;
    top:2px;
    left: 4px;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
/*****评论框******/
.waterfall>.appraiseBox{
    width:780px;
    margin:30px auto;
}
.waterfall>.appraiseBox a{
    color:#168AED;
}
.appraiseBox>form{
    line-height:38px;
}
.appraiseBox>form>input[type="text"]{
    width:611px;
    height:38px;
    margin-left:20px;
    border:2px solid #158BEE;
    color:#333;
    padding:0 10px;
}
.appraiseBox>form>input[type="button"]{
    width:85px;
    height:38px;
    margin-left:13px;
    color:#fff;
    background-color:#158BEE;
    border:none;
}
.appraiseBox>hr{
    margin-top: 25px;
}
.appraiseBox>.apprDetail{
    width:780px;
    margin:0 auto;
}
.apprDetail>.detailBox{
    margin-top: 20px;
    margin-left:60px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.apprDetail>.detailBox>ul{
    margin-bottom: 0;
    overflow: hidden;
}
.detailBox>ul>.left{
    float:left;
}
.detailBox>ul>.left>img{
    width:49px;
    height:47px;
}
.detailBox>ul>.right{
    float:right;
}
.apprWord .uname{
    color:#158BEE;
}
.apprWord .time{
    font-size: 14px;
}
.detailBox>ul>.right{
    line-height: 42px;
}
.detailBox>ul>.right>b{
    display:inline-block;
    width:25px;
    height:25px;
    margin-top: 5px;
    margin-left:30px ;
    cursor: pointer;
    background:url("../images/media/Hpb_support.png") no-repeat;
    background-size:25px 25px;
}
.detailBox>ul>.right>.supportIcon{
    background-image:url("../images/media/Hpb_support_pre.png");
}
.detailBox .response{
    padding-right:30px;
    cursor: pointer;
    border-right:1px solid #eee;
}
.detailBox>.words{
    margin-left: 60px;
    margin-bottom: 0;
    font-size: 14px;
}
.detailBox>.words>p{
    margin-bottom: 1px;
}
.apprDetail>.detailBox>form{
    margin-left:60px;
    margin-top: 10px;
}
.apprDetail>.detailBox>form>input[type="text"]{
    width:610px;
    padding-left:5px;
    padding-right:5px;
    border:2px solid #158BEE;
}
.apprDetail>.detailBox>form>input[type="button"]{
    height:28px;
    border:none;
    background-color: #158BEE;
    color:#fff;
}
.detailBox>.responseBox{
    display: none;
}


/****** 9.2 ******/
.schoolMain>div>a:hover{
    color:#168BEE;
}
.personCenter>.cent>a:hover{
    color:#168BEE;
}
/****** 9.9 ******/
.detailBox>form>.smApprBtn{
    width:44px;
}
.responseBox>.smApprBtn, .responseBox>.responseTo{
    height:28px;
}
























