body{
    padding-top:59px;
}
/*******************ÏêÇéÄÚÈÝ***************/
.box{
    width:900px;
    margin:0 auto;
    font-size:16px;
}
.box>.content{
    border:1px solid #ccc;
    padding:20px;
    margin-top:30px;
    border-radius:7px;
    background-color:#fff;
}
.box>.content a{
    color:#168AED;
}
.content>p{
    position:relative;
}
.content>p>.name{
    margin-left:5px;
    color:#168AED;
}
.content>.smbox{
    margin-left:49px;
}
.content>.smbox>p{
    padding-left: 20px;
    height:60px;
    line-height:60px;
    background-color:#F1F1F1;
}
.content>.smbox>span{
    color:#999;
}



/******** 9.2 ******/
.schoolMain>div>a:hover{
    color:#168BEE;
}
.personCenter>.cent>a:hover{
    color:#168BEE;
}









