#left ul>li:nth-child(2)>a {
    color: #fff;
    background-color: #168bee;
}
/************** myExerRoom.html **************/

/*“我上传的”，“我收藏的”*/
.my-exer-room-head .isMark {
    float: right;
    width: 67px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    cursor: default;
    color: #666;
    border: 1px solid #d9d9d9;
}
.my-exer-room-head .notMark {
    /*border-right: none;*/
}
.my-exer-room-head .doMark {
    /*border-left: none;*/
}
.my-exer-room-head .isMark.active {
    color: #168bee;
    border: 1px solid #168bee;
    background-color: #e1f5fa;
}



























